o<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1555882422-3af55f50fab1?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600);">

<div class='d-flex justify-content-center p-5'>
  <div class="card-new-investment align-items-center mr-2 p-5">
    <h4> Accept Terms and Conditions </h4>
    <iframe src="https://www.termsfeed.com/public/uploads/2019/04/terms-and-conditions-template.pdf"></iframe>
  </div>
  <div class="card-new-investment align-items-center ml-2 p-5">
    <h4> Confirm Investment Amount </h4>
    <%= simple_form_for([@property, @investment ])  do |form| %>
    <div class= "form-group" >
     <%= form.input :amount, label: "Investment Amount", class: "form-control" %> </div>
     <div class= "form-group form-check" >
       <%= form.check_box :terms_accepted, class: "form-check-input" %>
       <%= form.label "I agree with the terms and conditions", class: "form-check-label" %>
     </div>
     <%= form.button :submit, 'Invest Now', class: "btn btn-warning btn-sm btn-submit w-100" %>
     <% end %>
   </div>
 </div>



