
      <%= link_to property_path(property) do  %>
      <div class="card-property-info">
        <% if user_signed_in? && property.likes.where(user_id: current_user).any?# # la property a ét élike %>
        <i class="fas fa-heart" style="color:#f62928; padding: 5px; float: left; font-size: 20px;"></i>
        <% else %>
        <i class="far fa-heart" style="color:#f62928; padding: 5px; float: left; font-size: 20px;"></i>
        <% end %>
              <% if property.photos.attached? %>
              <div class="card-property-info-img card-property-info-img--hover" style="background-image: url(<%= cl_image_path property.photos.first.key %>) "></div>
              <% end %>
        <div class="meter-info">
          <span class="percentage pl-4 pt-1"style="width: <%= property.percentage_achieved%>%"><%=property.percentage_achieved%>%</span>
        </div>
        <div class="card-description-info text-center my-auto"><%= property.name %></div>
        <div class="card__info-info">
            <p class="location text-center">Location: <%= property.location %></p>
        </div>
        <span class="btn btn-property-info text-center">VIEW DETAILS</span>
      </div>
      <% end %>


