<div class="container">

  <%= form_tag properties_path, method: :get do %>
  <div class="search-form-control form-group">
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search by name or location"
    %>
     <%= button_tag(type: "submit", class:"btn btn-search") do  %>
      <i class="fas fa-search"></i> Search
      <% end %>
  </div>
  <% end %>
  <div class="row">
    <% @properties.each do |property| %>
    <div class="col-4 mt-4">
      <%= link_to property_path(property) do  %>
      <div class="card-property">
        <div class="card__info-hover">
          <svg class="card__like"  viewBox="0 0 24 24">
            <path fill="red" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
          </svg>
          <% if property.photo.attached? %>
          <div class="card-property-img card-property-img--hover" style="background-image: url(<%= cl_image_path property.photo.key %>) "></div>
          <% else %>
          <%= image_tag "https://www.ukmoths.org.uk/site/templates/includes/images/noimageyet420.png", class: "card-property-img"%>
          <% end %>
          <h5 class="card-description text-center my-auto"><%= property.name %></h5>
        </div>
        <br>
            <div class="meter">
              <span class="percentage pl-4 pt-1"style="width: <%= property.percentage_achieved%>%"><%=property.percentage_achieved%>%</span>
            </div>
        <div class="card__info">
          <div class="card-see-more text-center">
            <p class="user-name">Developer: <%= property.user.first_name + " " + property.user.last_name %></p>
          </div>
          <div>
            <p class="location text-center">Location: <%= property.location %></p>
            <p class='name'>Description: <%= property.description %></p>
          </div>
        </div>
        <span class="btn btn-property text-center">VIEW DETAILS</span>
      </div>
      <% end %>
    </div>
      <% end %>
    </div>
  </div>

