<div class="container">
  <h1 class="h1-properties"> Available <span class="highlighted highlighted-green">properties</span></h1>
  <%= form_tag properties_path, method: :get do %>
  <div class="search-form-control form-group">
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search by name or location"
    %>
     <%= button_tag(type: "submit", class:"btn btn-search") do  %>
      <i class="fas fa-search"></i> Search
      <% end %>
  </div>
  <% end %>
<div class="background">
  <div class='toggle-body'>
    <div class='toggle-btn'>
    </div>
  </div>
</div>

<div class='index-container d-flex flex-column align-items-center' style='position: relative; min-height: 80vh;'>
  <div class="container card-container">
    <div class="row" >
      <% @properties.each do |property| %>
      <div class="col-4 mt-4 card-property-column ">
        <div class="card-property ">
          <div class="card__info-hover">
            <div class="like-container like-for-<%= property.id %>">
            <%= render "liked_properties", user: current_user, property: property %>
            </div>
            <div class="img-hover-zoom ">
              <%= link_to property_path(property) do  %>
              <% if property.photos.attached? %>
            <div class="card-property-img card-property-img--hover "><%= cl_image_tag property.photos[0].key %></div>
            <% else %>
            <%= image_tag "https://www.ukmoths.org.uk/site/templates/includes/images/noimageyet420.png", class: "card-property-img"%>
            <% end %>

            </div>

            <div class="card-description">
              <h5 class="text-white"><%= property.name.truncate(70) %></h5>
            </div>

          </div>
          <br>
              <div class="meter">
                <span class="percentage pl-4 pt-1"style="width: <%= property.percentage_achieved%>%"><%=property.percentage_achieved%>%</span>
              </div>
          <div class="card__info">
            <div class="card-see-more text-center">
              <p class="user-name">Developer: <%= property.user.first_name + " " + property.user.last_name %></p>
            </div>
            <div>
              <p class="location text-center"><%= property.location %></p>
              <p class='name text-justify'><%= property.description.truncate(220) %>...</p>
            </div>
          </div>
          <span class="btn btn-property text-center">VIEW DETAILS</span>
        </div>
        <% end %>
      </div>
    <% end %>
      </div>
    </div>

    <div class="map-container">
     <div
    id="map"
    class="show-map card-show"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    style='height: 80vh; width: 80vw;'
    ></div>
  </div>
</div>

</div>

