<div class="banner-new-prop text-center" style="background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fres.cloudinary.com%2Fdvallavgs%2Fimage%2Fupload%2Fv1585126402%2Fli-lin-rVWmtTXidMM-unsplash_k0qego.jpg);">
<div class="col-xs-12 col-md-6 offset-md-3 banner-form ">
  <div class=" black_bgr ">
  <h1 class="text-center text-white py-4">Tell us about your property</h1>
  <%= simple_form_for @property do |f| %>
        <div class="form-inputs text-white">
    <!-- Need to find a way to make the default text as placeholders and not actual default but can come back later on it -->
    <%= f.input :name, placeholder: 'Whats the name of the property ?' %>
    <%= f.input :location, placeholder: 'where is the property located ?' %>
    <!-- Geocoding can be used based on the location and an auto search can be added -->
    <%= f.input :description, placeholder: 'Give us some details, the more the better !' %>
    <%= f.input :area_description, placeholder: 'What is the area like, any stats would be great' %>
    <%= f.input :valuation, input_html: { min: "0"} %>
    <!-- This doesnt show up with a downarrow and i think because in the model its not an integer (which it should be) -->
    <%= f.input :amount_to_be_raised, input_html: {min: "0"} %>
    <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <!-- Can maybe add some label here to tell user how to compute this number but leave for now -->

    <!-- Can maybe add some label here to tell user how to compute this number but leave for now -->
    <%= f.input :financials, input_html: { placeholders: 'Input some text about the property cost, development etc breakdown of costs and returns'} %>
    <%= f.input :photo, as: :file, input_html: { placeholders: 'Add some images'} %>
    <%= f.input :documents, as: :file, input_html: { multiple: true } %>
    <!-- Can maybe add some label here to tell user how to compute this number but leave for now -->
  </div>

    <%= f.submit "Submit", class: "btn-success w-100 mt-0" %>
    <%= link_to "Go back", root_path, class: "btn-secondary w-100 mb-3 d-block"%>

 <% end %>
 </div>
  </div>
</div>
