
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1555882422-3af55f50fab1?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600);">
  <div class="days-banner">
    <p><%=@property.days_left%> days left</p>
  </div>
  <div class=" button-banner-show text-center">
  <%= link_to "Invest now", new_property_investment_path(@property), class: "btn btn-success" %>
  </div>
</div>
<div class="container bg-white">
<div class="show-card bg-white">
  <div class="meter mt-3 mx-5">
    <span class="percentage pl-4 pt-1"style="width: <%= @property.percentage_achieved%>%"><%=@property.percentage_achieved%>%</span>
  </div>
  <h2 class="text-center border-bottom pt-3"> <%=@property.name%></h2>

  <p class=" text-center border-bottom mx-5"> <%=@property.description%></p>
</div>
<div class="container bg-white">
  <div class="d-flex justify-content-around">
    <div class ="d-flex justify-content-around card-show text-center">
      <div>
      <h2 class="border-bottom">ROI</h2>
      <% data = [['Achieved', @property.percentage_achieved],
          ['Remaining',  (100 - @property.percentage_achieved)]] %>

      <%= pie_chart data, library: { pieSliceText: 'value' } %>
      <%#= pie_chart [Property.find(params[:id]).percentage_achieved, (100- Property.find(params[:id]).percentage_achieved)]%>

      </div>
      <div>
        <h2 class="border-bottom">Progress</h2>
        <% data = [['Achieved', @property.sum_amount_invested ],
          ['Remaining',  (@property.amount_to_be_raised - @property.sum_amount_invested )]] %>

      <%= pie_chart data, library: { pieSliceText: 'value' } %>

      </div>
    </div>
    <div class="card-show text-center">
      <h3 class="border-bottom">Download documents</h3>
      <!-- <div class="document">
        <a class="js-legals-link" href="legals/get-shareholders-agreement/1008">Shareholders Agreement</a>
      </div>
      <div class="document">
        <a href="document/investor/5eb07e69848d9ac8ca64a0fbc796fcae745af38fo1585311928o504ad85f5c345928323e219acf928e17c3dd27e41582194719">
                Investment Memorandum
          <i class="fas fa-external-link-alt"></i>
        </a>
      </div>
      <div class="document">
        <a href="document/investor/5eb07e69848d9ac8ca64a0fbc796fcae745af38fo1585311928o1e119be880c329af4b39e1ddb597a0caff6197df1543582978">
                Title Plan
          <i class="fas fa-external-link-alt"></i>
        </a>
      </div>
      <div class="document">
        <a href="document/investor/5eb07e69848d9ac8ca64a0fbc796fcae745af38fo1585311928o2cf5e314ad1e83a54b3ff3f57463126951f7defa1547807950">
                Valuation Report
          <i class="fas fa-external-link-alt"></i>
        </a>
      </div>
      <div class="document">
        <a href="document/investor/5eb07e69848d9ac8ca64a0fbc796fcae745af38fo1585311928o98c0968857b3305e26cf283ca05fa53eed465f021543583898">
                Title Register
          <i class="fas fa-external-link-alt"></i>
        </a>
      </div>
      <div class="document">
        <a href="document/investor/5eb07e69848d9ac8ca64a0fbc796fcae745af38fo1585311928od2ccf788da859aefc2099b93f314d7949ffdcf531549991916">
                Formal Mortgage Offer
          <i class="fas fa-external-link-alt"></i>
        </a>
      </div>
      <div class="document">
        <a href="document/investor/5eb07e69848d9ac8ca64a0fbc796fcae745af38fo1585311928o26d4265eeb98df621d668329e793263a3af7e0771573053188">
                Market Research Report
          <i class="fas fa-external-link-alt"></i>
        </a>
      </div> -->


      <div><%= link_to "Title Plan", asset_path("Title-Plan.pdf") %> <i class="fas fa-external-link-alt"></i></div>
      <div><%= link_to "Title Register", asset_path("Title Register.pdf") %> <i class="fas fa-external-link-alt"></i></div>
      <div><%= link_to "Market Research Report", asset_path("Market Research Report.pdf") %> <i class="fas fa-external-link-alt"></i></div>
      <div><%= link_to "Investment Memorandum", asset_path("Investment Memorandum.pdf") %> <i class="fas fa-external-link-alt"></i></div>
      <div><%= link_to "Valuation Report", asset_path("Valuation Report.pdf") %> <i class="fas fa-external-link-alt"></i></div>
      <div><%= link_to "Formal Mortgage Offer", asset_path("Formal Mortgage Offer.pdf") %> <i class="fas fa-external-link-alt"></i></div>





    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class=" card-show">
      <p class="text-center border-bottom"> <%=@property.location%></p>
      <h3 class="p-3 text-center align-center"><%= @property.area_description%></h3>
    </div>
    <div
    id="map"
    class="show-map card-show"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

</div>
<div class="d-flex justify-content-center my-3"><%= link_to "Invest now", new_property_investment_path(@property), class: "btn btn-success" %></div>
</div>
