
<div class="banner-show">
 <% if @property.photos.attached? %>
 <div id="carousel-<%= @property.id %>" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <div class='circle-days-left'>
      <% if @property.days_left >= 0 %>
        <div class='days-left-new'><%= @property.days_left %> days left!</div>
      <% else %>
        <div class='days-left-new'> No days left!</div>
      <% end %>
    </div>
    <% @property.photos.each_with_index do |photo, index| %>
    <li data-target="#carousel-<%= @property.id %>" data-slide-to="0" class="<%= "active" if index == 0 %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% @property.photos.each_with_index do |photo, index| %>
    <div class="carousel-item <%= "active" if index == 0 %>">
      <%= cl_image_tag photo.key, alt: "Image of the property", class: "banner-show-img w-100" %>
    </div>
    <% end %>
    <a class="carousel-control-prev" href="#carousel-<%= @property.id %>" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-<%= @property.id %>" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<% else %>
<%= image_tag "https://www.ukmoths.org.uk/site/templates/includes/images/noimageyet420.png", class: "card-property-img d-block w-100"%>
<% end %>
</div>

<!-- <div class="days-banner">
  <p><%=@property.days_left%> days left</p>
</div> -->
<div class=" button-banner-show text-center">
  <%= link_to "Invest now", new_property_investment_path(@property), class: "btn btn-success" %>
</div>
<div class="container bg-white">
  <div class="show-card bg-white">
    <div class="meter mt-3 mx-5">
      <span class="pl-4 py-1 "style="width: <%= @property.percentage_achieved%>%"><%=@property.percentage_achieved%>%</span>
    </div>
    <h2 class="text-center border-bottom pt-3"> <%=@property.name%></h2>

    <p class=" text-justify border-bottom mx-5"> <%=@property.description%></p>
  </div>
  <div class="container bg-white">
    <div class="d-flex justify-content-around">
      <div class ="d-flex justify-content-around card-show text-center">
      <!-- <div>
      <!-- <h2 class="border-bottom">ROI</h2>
      <% data = [['Achieved', @property.percentage_achieved],
          ['Remaining',  (100 - @property.percentage_achieved)]] %>

          <%#= pie_chart data, library: { pieSliceText: 'value' } %> -->
          <%#= pie_chart [Property.find(params[:id]).percentage_achieved, (100- Property.find(params[:id]).percentage_achieved)]%>

          <!--   </div> -->
          <div>
            <h2 class="border-bottom">Ownership</h2>
            <% data = [['Equity Developer', @property.ownership_dev ],
            ['Crowd Equity Owned', (@property.crowd_investment)],
            ['Crowd Equity Left',  (100 - @property.ownership_dev - @property.crowd_investment)]] %>

            <%= pie_chart data, colors: ["#14ffcb", "#c4c4c4", "#89939E"],library: { pieSliceText: 'value' } %>

          </div>
        </div>
        <div class="card-show text-center">
          <h3 class="border-bottom">Download Documents</h3>
          <div class='no-decoration'><%= link_to "Title Plan", asset_path("Title-Plan.pdf") %> <i class="fas fa-external-link-alt"></i></div>
          <div class='no-decoration'><%= link_to "Title Register", asset_path("Title Register.pdf") %> <i class="fas fa-external-link-alt"></i></div>
          <div class='no-decoration'><%= link_to "Market Research Report", asset_path("Market Research Report.pdf") %> <i class="fas fa-external-link-alt"></i></div>
          <div class='no-decoration'><%= link_to "Investment Memorandum", asset_path("Investment Memorandum.pdf") %> <i class="fas fa-external-link-alt"></i></div>
          <div class='no-decoration'><%= link_to "Valuation Report", asset_path("Valuation Report.pdf") %> <i class="fas fa-external-link-alt"></i></div>
          <div class='no-decoration'><%= link_to "Formal Mortgage Offer", asset_path("Formal Mortgage Offer.pdf") %> <i class="fas fa-external-link-alt"></i></div>
          <% @property.documents.each do |doc| %>
          <div><%= link_to doc.filename, cloudinary_url(doc.key) %> <i class="fas fa-external-link-alt"></i></div>
          <% end %>
          <div class='img-download'>
            <%= image_tag 'download.svg' %>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-around">
        <div class="card-show text-center">
          <h2 class="border-bottom">Information</h2>
          <div class='d-flex justify-content-between border-bottom pt-5'>
            <p>Valuation</p>
            <%= @property.valuation %>
          </div>
          <div class='d-flex justify-content-between border-bottom pt-3'>
            <p>Target to be raised</p>
            <%= @property.amount_to_be_raised %>
          </div>
          <div class='d-flex justify-content-between border-bottom pt-3'>
            <p>Committed by investors</p>
            <%= @property.sum_amount_invested %>
          </div>
          <div class='d-flex justify-content-between border-bottom pt-3'>
            <p>Dividend yield</p>
            <%= (@property.dividend / @property.valuation) %>
          </div>

        <div class='d-flex justify-content-between border-bottom pt-3'>
          <p>Number of investors</p>
          <%= @property.investors.uniq.count %>
        </div>
      </div>
      <div class="card-show text-center">
        <h2 class="border-bottom">Calculator</h2>
          <form class='my-5'>
            <div clas='form-group range-field my-5'>
              <input id="calculatorSlider" class="no-border custom-range" type="range" value="0" min="0" max="<%= @property.amount_to_be_raised - @property.sum_amount_invested %>" step="1000" data-valuation='<%= @property.valuation %>' style="color:#1FC1A1"/>
            </div>
          </form>
              <div class="row">
                <div class="col-md-6 text-center pb-5">
                  <h2><span class="badge blue lighten-2 mb-4">Invest</span></h2>
                  <h2 class="display-4" style="color:#1FC1A1"><strong id="invest-net-amount">0€</strong></h2>
                </div>
                <div class="col-md-6 text-center pb-5">
                  <h2><span class="badge blue lighten-2 mb-4">shares owned</span></h2>
                  <h2 class="display-4" style="color:#1FC1A1"><strong id="shares-owned">0%</strong></h2>
                </div>
              </div>
             <!--  <div><%= link_to "Invest now", new_property_investment_path(@property), class: "btn-test px-5" %></div> -->
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class=" card-show">
          <h3 class="text-center border-bottom"> <%=@property.location%></h3>
          <p class="p-4 text-justify align-center"><%= @property.area_description%></p>
          <div class='img-buy-house'>
            <%= image_tag 'buy_house.svg' %>
          </div>
        </div>
        <div
        id="map"
        class="show-map card-show"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>

    </div>
    <div class="d-flex justify-content-center my-3"><%= link_to "Invest now", new_property_investment_path(@property), class: "btn btn-success" %>
    </div>
    <div class="d-flex justify-content-center my-3">
      <div class="like-container like-for-show-<%= @property.id %> like-for-like">
        <%= render "liked_properties_show", user: current_user, property: @property %>
      </div>
    </div>
  </div>
