  <div class="container text-center h-100">
    <div class="row justify-content-around mt-5 h-100">
      <div class="col-6 h-100 p-5 my-auto shadow text-center">
        <h1>Order #<%= @order.id %></h1>
        <div class="text-green"><%= @order.state %></div>
        <div class="list-unstyled mt-3">
          <div class="d-flex justify-content-center">
            <i class="far fa-clock"></i>
            <p class="ml-2"> <%= @order.created_at.to_date %> </p>
          </div>
          <div class="d-flex justify-content-center">
            <i class="fas fa-home"></i>
            <p class="ml-2"> <%= @order.investment.property.name %> </p>
          </div>
          <div class="d-flex justify-content-center">
            <p class="ml-2"> <%= humanized_money_with_symbol @order.amount %> </p>
          </div>
        </div>
        <%= link_to "Back to homepage", root_path, class: "btn-success w-100 d-block"  %>
      </div>
    </div>
  </div>
</div>
