<div class="hero">
    <h1>My Portfolio</h1>
</div>
<div class="text-center">
    <div class="info">
      <h3>Total currently invested:</h3><p><%= current_user.investment_sum %> €</p>
    </div>
</div>

    <div class="investment-banner">
      <h2>You currently have <%= current_user.investments.count %> properties in your portfolio</h2>
    </div>

        <% if current_user.investments.any? %>
          <% @investments.each do |investment| %>
              <div class="card-investment d-flex">
                <div class="card-investment-img">
                  <% if investment.property.photo.attached? %>
                  <%= cl_image_tag investment.property.photo.key %>
                  <% end %>
                </div>
                <div class="card-investment-info text-left">
                  <h2><%= investment.property.name %></h2>
                  <p>Currently invested: <%= investment.amount %> €</p>
                  <p>Location: <%= investment.property.location %></p>
                </div>
              </div>
          <% end %>
        <% end %>


