<div class="hero">
    <h1>My Portfolio</h1>
    <%= link_to "Become an investor", questionnaire_investors_path, class: 'btn-success-dash' %>
    <%= link_to "Become a developer", questionnaire_developers_path, class: 'btn-secondary-dash' %>
</div>


<div class="text-center">
    <div class="info">
      <h3>Total currently invested:</h3><p><%= current_user.investment_sum %> €</p>
    </div>
</div>

<div class="investment-chart">
  <%= line_chart [{name: current_user.first_name, data: current_user.investments.group_by_day(:created_at).count }, {name: "All users", data: Investment.all.group_by_day(:created_at).count }] %>
</div>

    <div class="investment-banner">
      <h2>You currently have (<%= current_user.investments.count %>) property investments in your portfolio</h2>
    </div>

        <% if current_user.investments.any? %>
          <% @investments.each do |investment| %>
              <div class="card-investment d-flex">
                  <% if investment.property.photos.attached? %>
                  <div class="banner-show-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= url_for(investment.property.photos.first) %>);">
                  <% end %>
                  </div>
                <div class="card-investment-info text-left">
                  <h2><%= investment.property.name %></h2>
                  <p>Currently invested: <%= investment.amount %> €</p>
                  <p>Location: <%= investment.property.location %></p>
                </div>
              </div>
          <% end %>
        <% end %>

    <div class="investment-banner">
      <h2>You currently have (<%= current_user.properties.count %>) properties in your portfolio</h2>
    </div>

      <% if current_user.properties.any? %>
        <% current_user.properties.each do |property| %>
          <div class="card-investment d-flex">
            <% if property.photos.attached? %>
            <div class="banner-show-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= url_for(property.photos.first) %>);">
            <% end %>
            </div>
          <div class="card-investment-info text-left">
            <h2><%= property.name %></h2>
            <p>Amount to be raised: <%= property.amount_to_be_raised %> €</p>
            <p>Location: <%= property.location %></p>
          </div>
         </div>
      <% end %>
     <% end %>

     <% if current_user.liked_properties.any? %>
      <h1>My Favorites Properties</h1>
        <% current_user.liked_properties.each do |property| %>
          <div class="card-investment d-flex">
            <% if property.photos.attached? %>
            <div class="banner-show-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= url_for(property.photos.first) %>);">
            <% end %>
            </div>
          <div class="card-investment-info text-left">
            <h2><%= property.name %></h2>
            <p>Amount to be raised: <%= property.amount_to_be_raised %> €</p>
            <p>Location: <%= property.location %></p>
          </div>
         </div>
      <% end %>
     <% end %>

  <%if current_user.admin %>
  <p>validate investor profile</p>
  <%  @investors.each do |investor|%>
    <%= investor.email  %>
    <%= link_to("accept", accept_investor_path(investor), method: :patch) %>
    <%= link_to("reject", reject_investor_path(investor), method: :patch) %>
    <% end %>
  <p>validate developer profile</p>
  <%  @developers.each do |developer|%>
    <%= developer.email  %>
    <%= link_to("accept", accept_developer_path(developer), method: :patch) %>
    <%= link_to("reject", reject_developer_path(developer), method: :patch) %>
    <% end %>
  <% end %>



