<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vestate</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>


    <% if current_page?(root_path) || current_page?(home_developers_path) || current_page?(new_property_path) || (params[:controller] == 'properties' && params[:action] == 'show') || current_page?(new_user_session_path) || current_page?(new_user_registration_path) || (params[:controller] ==  'users/sessions' && params[:action] == 'create') || current_page?(dashboards_path) %>
      <div class="main-container-home">
        <%= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
        <%= yield %>
        <%= render 'shared/footer' %>
      </div>
    <% else %>
      <div class="main-container">
        <%= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
        <%= yield %>
        <%= render 'shared/footer' %>
      </div>
    <% end %>



    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>

